body{
	background: #9AEAEB;
}
p{
	color: white;
}

#one{
	border-color: black;
	border-style: solid;
	border-width: 1px, 1x, 1px, 1px;
	color:white;
}


ul{
	float: left;
	width: 200px;
}


#two{
	padding-left: 350px
}
